<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @top.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @top.name %>
</p>

<p>
  <strong>Money:</strong>
  <%= @top.money %>
</p>

<p>
  <strong>Site:</strong>
  <%= @top.site %>
</p>

<%= link_to 'Edit', edit_top_path(@top) %> |
<%= link_to 'Back', tops_path %>
